
mat-form-field{
  width: 50vw;
  padding-bottom: 20fr;
}


.formFields{
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 10fr);
  grid-auto-rows: minmax(100px, auto);
  grid-row-gap: 1fr;
  justify-items: center;
  align-items: center;
  margin:0 auto;
  padding-top: 50px;

}

.Inputs_button
{
  grid-column-start: 1;
  grid-column-end: 3;
  width: 20vw;

  h1{

      position: relative;
      padding-left: 64vw;
      right: 40vw;
      white-space: nowrap;
      font-size: 1.7rem;
      font-family:Georgia, 'Times New Roman', Times, serif;
      animation: bounceInUp;
      animation-duration: 2s;

  }



}


#Login_Error{
  position: relative;
  top: 10px;
  right: 15vw;
  padding-left: 30vw;
  white-space: nowrap;
  font-size: 1rem;
  color: red;

}





