<head>



</head>

<body>

  <h2>New Password!</h2>

 <h3>Please enter a new password it should contains
 one capital letter one lower letter one number and one special
 character and minimum length 8 characters.</h3>


  <form [formGroup]="new_password_form" (ngSubmit)="ok()" novalidate>

    <div class="passFormFields">
        <div class="new_password">
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input
              matInput type="password"
              matInput placeholder="Ex Ts1!2000"
              formControlName="new_password">
              <mat-error *ngIf="new_password_form.invalid">{{get_password_errorMessage()}}</mat-error>
            </mat-form-field>
        </div>

          <div class="Confirm_Password">
           <mat-form-field>
              <mat-label>Please confirm new password again</mat-label>
              <input
                matInput type="password"
                placeholder="Please enter your new password"
                formControlName="confirm_password"
                [errorStateMatcher]="matcher">
                <mat-error  *ngIf="new_password_form.invalid">{{get_confirm_password_errorMessage()}}</mat-error>
            </mat-form-field>
          </div>




          <div class="save-cancel">
          <button  mat-button (click)="back2home()">Cancel</button>
          <button [disabled]="!new_password_form.valid" mat-button>Save</button>
          </div>


          <div *ngIf="password_change==1" class="password_ok">

              <h3>Password successfully changed! you will now redirected to login page</h3>
              <mat-spinner [diameter]="50"></mat-spinner>
          </div>


    </div>
  </form>


</body>
